    /*滚动条宽度*/
        ::-webkit-scrollbar{width: 0px;
                            height: 5px;}
    /*滚动条按钮样式*/
        ::-webkit-scrollbar-thumb{border-radius: 10px;
                                  background-color: #f1f1f1;}
    /*滚动条背景样式*/
        ::-webkit-scrollbar-track{border-radius: 10px;}

    *{font-family: Roboto;}
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
        
    body{
        margin-bottom: 40px;
        background-color:  #f1f1f1;
        max-width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        flex-direction: column;}

        header{position: relative;
               z-index: 20;
               background-color: #f1f1f1;}

        .name{font-size: 36px;
           font-weight: 600;
           margin-left: 10px;
           width: 45%;
           margin-top: 50px;
           min-width: 375px;}
        .intro{font-size: 15px;
           font-weight: 400;
           line-height: 21px;
           color: darkgray;
           margin-top: 5px;
           margin-left: 15px;
           width: 25%;
           min-width: 225px;}

        .info{font-size: 18px;
           font-weight: 300;
           width: 45%;
           min-width: 450px;
           margin-top: 5vw;
           margin-bottom: 10vw;
           margin-left: 175px;
           color: darkgray;
           background-color: #f1f1f1;
           position: relative;
           z-index: 50;}

        .bold{font-weight: 600;
              text-decoration: none;}
        .block{background: lightgray;
               display: inline-block;} 

        .img1{width:50%;
            min-width: 300px;
            top: 50px;
            right: 0px;
            position: absolute;}
        .img-group {width: 75%;
                    position: absolute;
                    z-index: 50;
                    margin-top: 10px;
                    right: 5%;
                    min-width: 300px;
                    display: inline-block;}
        .img-tip {position: absolute;
                  text-align: left;
                  opacity: 0.75;
                  bacground-color: #f1f1f1;
                  width: 40%;
                  right: 0;
                  margin-top:22%;
                  display: none;}
    
        .img-group:hover .img-tip {display: block;}



        main{margin-left: 40%;
             right: 5%;
             position: relative;
             z-index: 10;}
        p{font-size: 15px; 
          font-weight: 400;
          max-width:600px; }
        a{color: black;
          text-decoration: none;}
        a:hover{opacity: 0.5;
                text-decoration: none;} 

        span{color: darkgray;
             text-decoration: underline;} 



        .img2{width: 75%;
              align-content: right;}

        .img-group1 {position: relative;
                    display: inline-block;}
        .img-tip1 {position: absolute;
                   width: 100%;
                   text-align: left;
                   opacity: 0.75;
                   height:100px;
                   color:black;
                   bottom: 25px;
                   display: none;}
    
        .img-group1:hover .img-tip1 {display: block;}

        .img3{width: 75%;
              align-content: right;}

        .img-group2 {position: relative;
                     display: inline-block;}
        .img-tip2 {position: absolute;
                   width: 100%;
                  text-align: left;
                  opacity: 0.75;
                  height:100px;
                  color:black;
                  bottom: 25px;
                  display: none;}
    
        .img-group2:hover .img-tip2 {display: block;}
    
        .p1{font-size:14pt;
        font-weight: 600;}
        .p2{font-size:12pt;
        font-weight: 400;}


        .ques{color: darkkhaki;
              font-weight: 600;
              width: 60%;
              min-width: 300px;}
        .ans{color: gray;
              opacity: 0.75;
              font-weight: 400;
              width: 75%;
              min-width: 400px;
              margin-left: 15vw;}
        b{font-size: 16px;}
        i{font-weight: 400;}

        section{margin-left: 25%;
            width: 75%;}
