    /*滚动条宽度*/
        ::-webkit-scrollbar{width: 0px;
                            height: 5px;}
    /*滚动条按钮样式*/
        ::-webkit-scrollbar-thumb{border-radius: 10px;
                                  background-color: #f1f1f1;}
    /*滚动条背景样式*/
        ::-webkit-scrollbar-track{border-radius: 10px;}

    *{font-family: Roboto;}
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
        
    body{
        max-width: 1600px;
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        background-color: #f1f1f1;
        flex-direction: column;}

        header{position: relative;
               z-index: 20;
               width: 95%;
               margin: 0 auto;
               margin-top: 5vw;
               display: flex;
               flex-direction: row;
               column-gap: 25px;
               background-color: #f1f1f1;}

        .name{font-size: 36px;
           font-weight: 600;
           margin-left: 10px;
           width: 45%;
           min-width: 375px;}
        .intro{font-size: 15px;
           font-weight: 400;
           line-height: 21px;
           color: darkgray;
           margin-top: 5px;
           margin-left: 15px;
           width: 25%;
           min-width: 225px;}

        .info{font-size: 18px;
           font-weight: 300;
           width: 55%;
           min-width: 450px;
           margin-top: 20px;
           margin-bottom: 50px;
           margin-left: 12vw;
           margin-right: 25px;
           color: darkgray;}

        .bold{font-weight: 600;
              text-decoration: none;}
        .block{background: lightgray;
               display: inline-block;} 

        .ques{color: darkkhaki;
              font-weight: 600;
              width: 75%;
              max-width: 425px;}
        .ans{color: gray;
              opacity: 0.75;
              font-weight: 400;
              width: 80%;
              max-width:500px;
              margin-left: 15vw;}
        b{font-size: 16px;}
        i{font-weight: 400;}

        .img1{width: 100%;
            min-width: 555px;}
        .img-group {width: 100%;
            margin-top: 10px;
            margin-bottom: -120px;
            position: relative;
            display: inline-block;}
        .img-tip {position: relative;
            text-align: left;
            opacity: 0;
            background-color: #f1f1f1;
            width: 100%;
            box-sizing: content-box;
            padding-left: 25px;
            padding-top: 5px;
            padding-bottom: 45px;
            height: 100px;
            bottom: 150px;
            display: inline-block;}

        .img-group:hover .img-tip {opacity: 0.75;}

        .p1{font-size:14pt;
        font-weight: 600;}
        .p2{font-size:12pt;
        font-weight: 400;
        width: 80%;
        word-wrap: break-word;
        min-width: 250px;
        display: block;}



        main{margin-left: 40%;
             right: 5%;
             position: relative;
             z-index: 10;}
        p{font-size: 15px; 
          font-weight: 400;
          max-width:600px; }
        a{color: black;
          text-decoration: none;}
        a:hover{opacity: 0.5;
                text-decoration: none;} 

        span{color: darkgray;
             text-decoration: underline;} 



        .img2{width: 75%;}

        .img-group1 {position: relative;
                     display: inline-block;}
        .img-tip1 {position: absolute;
                   width: 75%;
                   text-align: left;
                   opacity: 0.75;
                   height:100px;
                   background-color: #f1f1f1;
                   box-sizing: content-box;
                   padding-left: 25px;
                   padding-top: 5px;
                   padding-bottom: 25px;
                   bottom: 0;
                   display: none;}
    
        .img-group1:hover .img-tip1 {display: block;}

        .group{margin-left: 30%;
            margin-top: 30px;
            bottom: 25px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;}

        .img3{width: 100%;}
        .img-group2 {position: relative;
                     display: inline-block;
                     width: 45%;
                     margin-left: 25px;
                     padding-bottom: 25px;}
        .img-tip2 {position: absolute;
                   width: 100%;
                   text-align: left;
                   opacity: 0.75;
                   height:100px;
                   background-color: #f1f1f1;
                   box-sizing: content-box;
                   padding-left: 25px;
                   padding-top: 5px;
                   padding-bottom: 50px;
                   bottom: 0;
                   display: none;}
    
        .img-group2:hover .img-tip2 {display: block;}

        @media screen and (max-width:1340px){
            .info{margin-left: 15px;}
        }

        @media screen and (max-width:1180px){
        .img1{min-width: 500px;}
        .p2{min-width: 200px;}
        main{margin-top: -55px;}
        }

        @media screen and (max-width:1115px){
        .img1{width: 450px;}
        .info{font-size: 15px;
             font-weight: 400;
             line-height: 21px;
             width: 55%;
             min-width: 375px;}
        main{margin-top: 0px;}
        }

/*ipad pro 1024*/

        @media screen and (max-width:1024px){
            main{margin-left: 350px;
                 right: 50px;}
            .ques{width: 75%;}
            .ans{width: 80%;}
            body{margin-left: 3%;
                margin-right: 5%;}

        }

/*ipad 768*/
        @media screen and (max-width:784px){
        header{flex-direction: column;}
        .name{font-size: 30px;
            max-width: 500px;}
        .intro{font-size: 14px;
            min-width: 325px;}
        .info{font-size: 15px;
            margin-left: 200px;
            margin-top: 25px;
            margin-bottom: 15px;
            min-width: 400px;}
        .p1{font-size: 14pt;}
        .p2{font-size: 12pt;}
        main{margin-left: 40%;}
        .ques{width: 325px;}
        .ans{min-width:400px;
              margin-left: 0px;}
        .img2{width: 100%;}
        .img-tip1{width: 100%;}
        .group{margin-left: 0;
            bottom: 0px;
            flex-wrap: none;}
        .img-group2{width: 45%;
            padding-bottom: 5px;
            margin-left: 10px;}
      }

/*iphoneX 375*/

        @media screen and (max-width:375px){
        body{margin-left: 5%;}
        header{min-width: 375px;}
        .name{font-size: 30px;
            width: 275px;}
        .intro{font-size: 14px;
            min-width: 275px;}
        .info{font-size: 15px;
            margin-left: 200px;
            margin-top: 25px;
            margin-bottom: 15px;
            min-width: 400px;}
        .p1{font-size: 14pt;}
        .p2{font-size: 12pt;}
        main{margin-left: 40%;}
        .ques{width: 325px;}
        .ans{min-width:400px;
              margin-left: 0px;}
        .img-tip {display: none;}
        .img-group:hover .img-tip {opacity: 0.75;}
        .img2{width: 100%;}
        .img-tip1{width: 100%;}
        .group{margin-left: 0;
            bottom: 0px;
            flex-wrap: none;}
        .img-group2{width: 45%;
            padding-bottom: 5px;
            margin-left: 10px;}
        }